.header {
  display: flex;
  padding: 6rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14rem;

  @include respond(phone-sm) {
    margin-bottom: 20rem;
  }

  &__logo {
    width: 17rem;

    @include respond(phone-sm) {
      width: 22rem;
    }
  }
}
